/* HomePage Styles */
#homepage * {
    font-weight: normal;
}

#current_location_section {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

#upcoming_week_section .title {
    text-align: center;
    font-size: 21px;
    margin: 0 0 10px;
}

#upcoming_week_section #grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}

#nearby_locations {
    margin: 30px 0;
}

#eco_friendly_reminders {
    margin: 50px 0 30px 0;
}